<!DOCTYPE html>
<html>
  <head>
    <title>Superhero Teams and Heroes!</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h2>Welcome to the Superhero Lab! Please fill out the form below to create your own Superhero Team and its Team Members!</h2>
    <form>
    
    <form method="post" action="/pirates">
      <p><label for="pirate[name]"> Pirate's Name: </label>
        <input id="pirate[name]" type="text" name="pirate[name]"></p>
      

    </form>
  </body>
</html>
